{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ledger Report</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{% static 'ledger.js' %}"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0px;">
		<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		    	{% if user.is_authenticated %}
		            <li class="nav-item">
		            	<a href="{% url 'logout' %}" class="nav-link">Logout</a>
		            </li>
		        {% else %}
		            <li class="nav-item">
		            	<a href="{% url 'login' %}" class="nav-link">Log in</a>
		            </li>
		        {% endif %}
		    </ul>
	    </div>
	</nav>
    
	<div class="container-fluid" >
		{% if user.is_authenticated %}
			<div class="row mt-2">
				<div class=" offset-2 col">
					<a href="{% url 'receipt_entry' %}">
						<button id="receipt_entry" class="bg-success text-white p-2 entry-btn" style="border-radius: 8px;">
							RECEIPT ENTRY
						</button>
					</a>
				</div>
				<div class="col">
					<a href="{% url 'payment_entry' %}">
						<button id="payment_entry" class="bg-warning text-dark p-2 entry-btn" style="border-radius: 8px;">
						PAYMENT ENTRY
					</button>
					</a>
					
				</div>
				<div class="col">
					<button id="search_transaction" class="bg-primary text-white p-2 entry-btn" style="border-radius: 8px;">
						SEARCH TRANSACTION
					</button>
				</div>
			</div>
		{% endif %}
	    <div class="row">
	    	<div class="col-lg-7" id="report_content">
		    	{% block report_content %}
		    	{% endblock %}
	    	</div>

		    <div class="col-lg-5" id="cash_payment">
		    	{% block cash_payment %}
		    	{% endblock%}
		    </div>
	    </div>
	</div>
</body>
</html>