{% extends 'base.html' %}
{% block report_content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col" style="margin-left: 25%;">
                {% if messages %}
                    {% for message in messages %}
                    <span style="color: red;font-size: 15px">{{message}}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        
        <form method="POST" class="row">
            <div class="offset-md-3 col-md-6 border border-dark shadow-lg rounded" style="height:380px">
                <div class="row">
                    <div class="offset-md-4 col-md-4 mt-3 d-flex justify-content-center"><b>LOGIN</b></div>
                </div>
                <div class="row form-group mt-5 mx-3">
                    <div class="col">
                        <label for="email">Email address:</label>
                        <input type="email" name="email" class="form-control mt-2" id="email">
                    </div>
                </div>
                <div class="row form-group mt-3 mx-3">
                    <div class="col">
                        <label for="pwd">Password:</label>
                        <input type="password" name="password" class="form-control" id="pwd">
                    </div> 
                </div>
                <div class="row mt-5">
                    <div class="offset-md-2 col-md-8">
                        <button type="submit" class="btn btn-outline-info" style="width: 100%;">Submit</button>
                    </div>
                </div>
            </div>
            {% csrf_token %}
        </form>
        
    </div>
{% endblock %}