{% extends 'base.html' %}
{% load i18n %}
{% block report_content %}
		<div class="table-responsive mt-3">
			<table class="table table-sm table-bordered table-condensed" id="report_table">
				 <thead class="table-dark">
				 	<tr>
				 		<th></th>
				 		<th></th>
				 		<th></th>
				 		<th></th>
				 		<th></th>
				 		<th id="excel"><a href="{% url 'excel_report' %}"><button class="bg-success text-white">EXCEL</button></a></th>
				 		<th class="bg-success" style="border: none;">RECEIVED DINOMINATION</th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>
				 		<th class="bg-success" style="border: none;"></th>

				 		<th class="bg-warning" style="border: none;">PAID DINOMINATION</th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
				 		<th class="bg-warning" style="border: none;"></th>
					</tr>
				 	<tr>
				 		<th class="bg-primary">SL NO.</th>
				 		<th class="bg-primary">Date</th>
				 		<th class="bg-primary">PARTICULARS</th>
				 		<th class="bg-primary">RECEIVED AMOUNT</th>
				 		<th class="bg-primary">PAID AMOUNT</th>
				 		<th class="bg-primary">REMARKS</th>

				 		<th class="bg-success">2000</th>
				 		<th class="bg-success">500</th>
				 		<th class="bg-success">200</th>
				 		<th class="bg-success">100</th>
				 		<th class="bg-success">50</th>
				 		<th class="bg-success">20</th>
				 		<th class="bg-success">10</th>
				 		<th class="bg-success">5</th>
				 		<th class="bg-success">Coin</th>

				 		<th class="bg-warning">2000</th>
				 		<th class="bg-warning">500</th>
				 		<th class="bg-warning">200</th>
				 		<th class="bg-warning">100</th>
				 		<th class="bg-warning">50</th>
				 		<th class="bg-warning">20</th>
				 		<th class="bg-warning">10</th>
				 		<th class="bg-warning">5</th>
				 		<th class="bg-warning">Coin</th>
				 	</tr>
				 </thead>
				 <tbody  id="report_table_list">
				 	{% for data in report_data %}
					 	{% if data.received_amount %}
					 		{% trans "bg-success" as bg_color %}
					 	{%else%}
					 		{% trans "bg-warning" as bg_color %}
					 	{% endif %}
				 		<tr class="{{bg_color}}">
				 			<td>{{ data.id }}</td>
				 			<td>{{ data.date | default_if_none:""}}</td>
				 			<td>{{ data.particulars | default_if_none:""}}</td>
				 			<td>{{ data.received_amount | default_if_none:""}}</td>
				 			<td>{{ data.paid_amount | default_if_none:""}}</td>
				 			<td>{{ data.remarks | default_if_none:""}}</td>

				 			<td>{{ data.receive_note_2000 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_note_500 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_note_200 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_note_100 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_note_50 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_note_20 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_note_10 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_coin_5 | default_if_none:"" }}</td>
				 			<td>{{ data.receive_coin | default_if_none:"" }}</td>

				 			<td>{{ data.paid_note_2000 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_note_500 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_note_200 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_note_100 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_note_50 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_note_20 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_note_10 | default_if_none:"" }}</td>
				 			<td>{{ data.paid_coin_5v }}</td>
				 			<td>{{ data.paid_coin | default_if_none:"" }}</td>
				 		</tr>
				 	{% endfor %}
				 </tbody>
			</table>
		</div>
{% endblock %}

{% block cash_payment %}
{#% if payment_entry %#}
	<div class="container border border-dark mt-3" id="paid_div" style="background: aliceblue;">
		<div class="row border border-dark mt-2">
			<div class="col-12 ">
				<div class="border border-dark m-2 d-flex justify-content-center">
					CASH PAYMENT
				</div>
			</div>
		</div>

		<div class="row border border-dark my-2">
		<form method="POST" id="paid_payment_form">
			{% csrf_token %}
	        <div class="row mt-2">
	        	<div class="col-6">
	        		<label for="paid_to">PAID TO:</label>
	        	</div>

	        	<div class="col-6">
	        		<input type="text" value="" name="paid_to" class="form-control border border-dark" id="paid_to" style="height:25px; box-shadow: none;">
	        		<span style="color: red;" id="paid_to_span"></span>
	        	</div>
	        </div>
	        <div class="row mt-2">
	        	<div class="col-6">
	        		<label for="paid_ammount">PAID AMOUNT:</label>
	        	</div>
	        	<div class="col-6">
	        		<input type="text" value="" name="paid_ammount" class="form-control border border-dark" id="paid_ammount" style="height: 25px;box-shadow: none;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        </div>

	        <div class="row mt-2">
	        	<div class="offset-6 col-2">
	        		OUT
	        	</div>
	        	<div class="col-2">
	        		IN
	        	</div>
	        </div>

	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_2000">
	        		    {{note_data.note_2000}}  		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		2000        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_2000" style="box-shadow: none; width: 100%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_2000" style="box-shadow: none; width: 100%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_2000">
	        		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_500">
	        		   {{note_data.note_500}}     		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		500        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_500" style="box-shadow: none; width: 100%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_500" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_500">
	        		      		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_200">
	        		   {{note_data.note_200}}     		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		200       		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_200" style="box-shadow: none; width: 100%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_200" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_200">
	        		     		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_100">
	        		    {{note_data.note_100}}   		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		100       		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_100" style="box-shadow: none; width: 100%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_100" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_100">
	        		     		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_50">
	        		  {{note_data.note_50}}      		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		50        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_50" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_50" style="box-shadow: none; width: 100%;"  
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_50">
	        		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_20">
	        		  {{note_data.note_20}}      		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		20        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_20" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_20" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_20">
	        		    		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_note_10">
	        		    {{note_data.note_10}}     		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		10      		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_10" style="box-shadow: none; width: 100%;"
	        		 onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_10" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_10">
	        		        		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_coin_5">
	        		   {{note_data.coin_5}}     		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		5        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_5" style="box-shadow: none; width: 100%;" 
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_5" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_5">
	        		 		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="p_coin">
	        		   {{note_data.coin}}    		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		Coin	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_out_coin" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="p_in_coin" style="box-shadow: none; width: 100%;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2 border border-dark" id="p_count_coin">
	        			
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-4 col-3 border border-dark">
	        		Total	
	        	</div>
	        	<div class="offset-1 col border border-dark">
	        		<div class="border" id="p_total">
	        			
	        		</div>
	        	</div>
	        </div>

	        <div class="row mt-2">
	        	<div class="col-4 ">
	        		REMARKS
	        	</div>

	        	<div class="col-8">
	        		<input type="text" name="p_remarks" value="" class="form-control border border-dark" id="p_remarks" style="height:25px; box-shadow: none;width: 100%;">
	        		<span style="color: red;" id="p_remarks_span"></span>
	        	</div>
	        </div>
	        <div class="row my-2 mx-1 border border-dark">
	        	<div class="offset-1 col-3 my-2">
	        		<input type="submit" name="save" value="SAVE" style="width:100%;"> 
	        	</div>
	        	<div class="offset-1 col-3 my-2">
	        		<input type="button" class="search_transaction" name="search" value="SEARCH" style="width:100%;">
	        		
	        	</div>
	        	<div class="offset-1 col-2 my-2">
	        		<a href="{% url 'report' %}">
	        			<input type="button" name="search" value="EXIT" style="width:100%;">
	        		</a>	
	        	</div>
	        </div>
	    </form>
	    </div>
	</div>


{#% elif search_trans %#}
	<div class="border border-dark mt-3 p-2" id="search_trans_div" style="background: aliceblue;">
		<h4>SEARCH TRANSACTION:</h4>
		<form method="POST" id="search_trans_form">
			{% csrf_token %}
			<div class="row border border-dark mt-2 mx-0">
				<div class="col mb-2">
					<label for="search_by" style="font-size: 12px;"><b>SEARCH BY</b></label>
					<select style="width: 100%; height:30px" name="search_by" id="search_by_select">
						<option value="empty"></option>
						<option value="date">Date</option>
						<option value="particulars">Particulars</option>
						<option value="remarks">Remarks</option>
					</select>
				</div>
				<div class="col mb-2">
					<label for="search_key" style="font-size: 12px;"><b>SEARCH KEYWORDS</b></label>
					<input type="text" value="" name="search_key" id="search_key" style="box-shadow: none; width:100%">
				</div>
				<div class="col mt-3 mb-2">
					<input type="submit" name="search", value="SEARCH" class="bg-success text-white" style="border-radius: 6px;height: 38px;width: 90%;">
				</div>
			</div>
		</form>

		<div class="border border-dark table-responsive mt-2" style="height:420px">
			<table class="table table-sm table-hover table-bordered">
				<thead>
					<tr class="bg-primary" style="font-size:14px;color: white;">
						<th>SL NO</th>
						<th>Date</th>
						<th>PARTICULARS</th>
						<th>RECEIVED</th>
						<th>PAYMENT</th>
						<th>REMARKS</th>
					</tr>
				</thead>
				<tbody id="search_report_list">
					
				</tbody>
			</table>
		</div>
	</div>


{#% else %#}
	<div class="container border border-dark mt-3" id="receive_div" style="background: aliceblue;">
		<div class="row border border-dark mt-2">
			<div class="col-12 ">
				<div class="border border-dark m-2 d-flex justify-content-center">
					CASH RECEIPT
				</div>
			</div>
		</div>

		<div class="row border border-dark my-2">
		<form method="POST" id="receive_payment_form">
			{% csrf_token %}
	        <div class="row mt-2">
	        	<div class="col-6">
	        		<label for="rec_from">RECEIVED FROM:</label>
	        	</div>

	        	<div class="col-6">
	        		<input type="text" value="" name="receive_from" class="form-control border border-dark" id="rec_from" style="height:25px; box-shadow: none;">
	        		<span style="color: red;" id="rec_from_span"></span>
	        	</div>
	        </div>
	        <div class="row mt-2">
	        	<div class="col-6">
	        		<label for="rec_amm">RECEIVED AMOUNT:</label>
	        	</div>
	        	<div class="col-6">
	        		<input type="text" value="" name="receive_ammount" class="form-control border border-dark" id="rec_amm" style="height: 25px;box-shadow: none;" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        </div>

	        <div class="row mt-2">
	        	<div class="offset-6 col-2">
	        		IN
	        	</div>
	        	<div class="col-2">
	        		OUT
	        	</div>
	        </div>

	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_2000">
	        		     {{note_data.note_2000}}  		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		2000        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_2000" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_2000" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_2000">
	        		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_500">
	        		   {{note_data.note_500}}       		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		500        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_500" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_500" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_500">
	        		      		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_200">
	        		    {{note_data.note_200}}	
	        	</div>
	        	<div class="col-2 border border-dark">
	        		200       		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_200" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_200" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_200">
	        		     		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_100">
	        			{{note_data.note_100}}      		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		100       		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_100" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_100" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_100">
	        		     		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_50">
	        		   {{note_data.note_50}}     		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		50        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_50" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_50" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_50">
	        		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_20">
	        		    {{note_data.note_20}}  		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		20        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_20" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_20" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_20">
	        		    		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="note_10">
	        		    {{note_data.note_10}}    		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		10      		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_10" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_10" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_10">
	        		        		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="coin_5">
	        		  {{note_data.coin_5}}      		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		5        		
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_5" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_5" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_5">
	        		 		
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-2 col-2" id="coin">
	        		   {{note_data.coin}}     		
	        	</div>
	        	<div class="col-2 border border-dark">
	        		Coin	
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="in_coin" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">
	        	</div>
	        	<div class="col-2">
	        		<input type="text" value="" name="out_coin" style="box-shadow: none; width: 100%;"
	        		onkeypress="return event.charCode >= 48 && event.charCode <= 57">	
	        	</div>
	        	<div class="col-2 border border-dark" id="count_coin">
	        			
	        	</div>
	        </div>
	        <div class="row mt-2 mx-1">
	        	<div class="offset-4 col-3 border border-dark">
	        		Total	
	        	</div>
	        	<div class="offset-1 col border border-dark">
	        		<div class="border" id="total">
	        			
	        		</div>
	        	</div>
	        </div>

	        <div class="row mt-2">
	        	<div class="col-4 ">
	        		REMARKS
	        	</div>

	        	<div class="col-8">
	        		<input type="text" name="remarks" value="" class="form-control border border-dark" id="remarks" style="height:25px; box-shadow: none;width: 100%;">
	        		<span style="color: red;" id="remarks_span"></span>
	        	</div>
	        </div>
	        <div class="row my-2 mx-1 border border-dark">
	        	<div class="offset-1 col-3 my-2">
	        		<input type="submit" name="save" value="SAVE" style="width:100%;"> 
	        	</div>
	        	<div class="offset-1 col-3 my-2">
	        		<input type="button" class="search_transaction" name="search" value="SEARCH" style="width:100%;">
	        		
	        	</div>
	        	<div class="offset-1 col-2 my-2">
	        		<a href="{% url 'report' %}">
		        		<input type="button" name="exit" value="EXIT" style="width:100%;">
		        	</a>
	        	</div>
	        </div>
	    </form>
	    </div>
	</div>
{#% endif%#}

{% endblock %}